
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

table {
  text-align: center;
  thead {
    th {
      vertical-align: middle !important;
      white-space: nowrap; width: 1%;
    }
  }
  tbody {
    text-transform: capitalize;
    td {
      white-space: nowrap; width: 1%;
    }
  }
}

.view {
  display: block;
}
.hide-view-mode {
  display: none;
}

.edit {
  display: block;
}
.hide-edit-mode {
  display: none;
}