
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  overflow:hidden !important;
}

.container-fluid, .row, .col, .col-md-12 {
  margin:0 !important;
  padding:0 !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

tbody {
  display:block;
  height: 250vh;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  vertical-align: middle;
  text-align: center;
}
thead {
  width: 100%;
  z-index: 9999 !important;
}


.marquee {
  top: 10em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 90s linear infinite; // default 90s
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0%   { top:   35% }
  100% { top: -100% }
}

